.visible-hidden {
  visibility: hidden;
}

:root {
  --color-primary: #1a2556;
  --color-secondary: #a5b3d4;
  --color-gray: #dde6f3;
  --color-light-gray: #f3f6fb;
  --color-white: white;
  --color-black: #3e3743;
  --color-input-hover: rgba(165, 179, 212, 0.6);
  --color-input-focus: rgba(26, 37, 86, 0.45);
  --color-input-error: rgba(255, 94, 31, 0.6);
  --color-input-warning: rgba(166, 145, 54, 0.6);
  --color-input-success: rgba(23, 125, 23, 0.45);
  --color-input-disabled: #dde6f3;
  --font-family: Roboto, Montserrat, sans-serif;
  --font-persian: Yekan, Lalezar, cursive;
  --font-proxima: proxima-soft, Proxima Soft, Proxima Nova Soft, Helvetica, Arial, sans-serif;
}

/* 
*,
*::before,
*::after {
  box-sizing: border-box;
  transition: 0.2s ease all;
}

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
}
*/
.pagination {
  width: 100%;
  align-items: flex-end;
  justify-content: center;
  /* width: 400px; */
  height: 10%;
  overflow: hidden;
  position:absolute;
  z-index: 1; /* to be removed */
  bottom: 0;
  background-color: #778899;
}

.pagination,
.pagination__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.pagination__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 350;
  height: 50px;
  border-radius: 9px;
  margin: 0 9px;
  overflow: hidden;
}

.pagination__item {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: 1.1rem;
}

.pagination__item>button,
.pagination__button {
  border: none;
  outline: none;
  stroke: none;
  box-shadow: none;
  cursor: pointer;
  border-radius: 9px;
  background: var(--color-gray);
}

.pagination__item>button:hover,
.pagination__button:hover {
  background: var(--color-secondary);
  color: var(--color-primary);
}

.pagination__item>button {
  width: 45px;
  height: 45px;
}

.pagination__item>button[data-level=target] {
  background: var(--color-primary);
  color: var(--color-light-gray);
}

.pagination__button {
  width: 35px;
  height: 35px;
}